*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100vw;
    height: 100vh;
    background-color: #17170A;
    color: white;
    font-family: "Space Grotesk", sans-serif;
    p {
        font-family: "Inter", serif;
    }
}